useDynLib(rzmq)

export(
       init.context,
       init.socket,
       bind.socket,
       connect.socket,
       send.socket,
       receive.socket,
       create.sink,
       get.sink.results,
       zmq.lapply
       )
