useDynLib(rzmq)

export(
       init.context,
       init.socket,
       bind.socket,
       connect.socket,
       send.socket,
       send.null.msg,
       receive.null.msg,
       receive.socket,
       receive.string,
       receive.int,
       receive.double,
       set.hwm,
       set.swap,
       set.affinity,
       set.identity,
       subscribe,
       unsubscribe,
       set.rate,
       set.recovery.ivl,
       set.recovery.ivl.msec,
       set.mcast.loop,
       set.sndbuf,
       set.rcvbuf,
       set.linger,
       set.reconnect.ivl,
       set.zmq.backlog,
       set.reconnect.ivl.max,
       get.rcvmore,
       zmq.cluster.lapply
       )
